/* colors:
rgb(64, 66, 88);
rgb(71, 78, 104);
rgb(80, 87, 122);
rgb(107, 114, 142); */

head, body{
    padding: 0;
    margin: 0;
    background-color: rgb(64, 66, 88);
    font-family: 'Courier New', Courier, monospace;
}

a{
    display: block;
    text-decoration: none;
    color: white;
}

.contentBox{
    width: 100%;
    height: 600px;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    background-color: transparent;
}
.contentBox div{
    width: 35%;
    margin-right: 20px;
    margin-left: 20px;
}
.pfp{
    display: flex;
    flex-direction: row-reverse;
}
.picture{
    border-radius: 200px;
    overflow: hidden;
}

.topText{
    font-size: 30px;
}
